<ion-header>
  <ion-toolbar>
    <ion-title>Confirmação de Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Nome da Hospedagem: {{ formData['Nome da Hospedagem'] }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>CNPJ: {{ formData['CNPJ'] }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>E-mail: {{ formData['E-mail'] }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Contato: {{ formData['Contato'] }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Endereço: {{ formData['Endereço'] }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>CEP: {{ formData['CEP'] }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Site da Hospedagem: {{ formData['Site da Hospedagem'] }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Preço: {{ formData['Preço'] }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Foto da Hospedagem: {{ formData['Foto da Hospedagem'] }}</ion-label>
    </ion-item>


  </ion-list>
  <ion-button color="success" (click)="concluirCadastro()">Concluir</ion-button>
  <ion-button color="danger" type="submit" routerLink="/cadastro-hospedagem">Cancelar</ion-button>
</ion-content>
